$bg : #eeeeee;

.titreCol{
  background-color: #5A738E;
  color: white;
}

.col_listePage {
  text-align: center;
  border: double 1px black;
  outline: solid 1px black;
  padding: 5px;
}

.col_listeArticle {
  text-align: center;
  border: double 1px black;
  outline: solid 1px black;
  padding: 5px;
}

.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

[name="form"]{
  margin-top: 30px;
}

[for="form_descriptionPage"]{
  display: flex;
  justify-content: center;
}
.align_left{
  text-align: left;
}

/*[name="form[submit]"]{
  margin-top: 5%;
  margin-left: 50%;
  width: 20%;
  height: 50px;
}*/

.side-add-menu > li {
  position: relative;
  display: block;
  cursor: pointer;

  background-color: #ffffff;
  border-right: 1px solid #E6E9ED;
  border-top: 1px solid #E6E9ED;
  border-left: 1px solid #E6E9ED;
}

.side-add-menu > li:last-child {
  background-color: #ffffff;
  border-bottom: 1px solid #E6E9ED;
}

.side-add-menu > li .child_menu .x_panel {
  margin-bottom: 0px;
}

.side-add-menu > li .child_menu .btn {
  float: right;
  margin-right: 10px;
}

.done-add-menu > li {
  margin-bottom: 10px;

  background-color: #f3f3f3;
  border: 1px solid #E6E9ED;

  width: 60%;
}

.done-add-menu > li > a {
  pointer-events: none !important;
  display: inline-block;
}

.done-add-menu > li > span {
  margin-top: 15px;
  margin-right: 15px;
  float: right;
  cursor: pointer;
  pointer-events: all;
}

.form-menu [name="form"]{
  margin: 0px;
}

.form-menu [name="form[submit]"]{
  margin: 0px;
  width: auto;
  height: auto;
}

.clearfix:after {
  content: "";
}

.panel_toolbox {
  float: right;
  min-width: inherit;
}

#form-container input{
  //background-color: #f3f3f3;
}

#form-container label.control-label{
  text-align: left;
}

#table-container table{
  margin-top: 30px;
}