<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Bienvenue sur la page {{ page.namePage }}</h1>

        <p>
            {% if page.specialitePage is defined %}
                <span style="font-weight: bold">Specialité page: </span>
                {{ page.specialitePage }}
            {% endif %}
        <p/>

        <p>
            {% if page.descriptionPage is defined %}
                <span style="font-weight: bold">Description page: </span>
                {{ page.descriptionPage }}
            {% endif %}
        </p>

        <p>
            {% if page.contenuPage is defined %}
                <span style="font-weight: bold">Contenu page: </span>
                {{ page.contenuPage }}
            {% endif %}
        </p>

        <p>
            {% if page.specialitePage == 'liste_article' or page.specialitePage == 'liste_tournois'%}
                <span style="font-weight: bold">Affiche la liste: </span>
            {% endif %}
        </p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>